@charset "UTF-8";
/* ---------------------------------- Design général ---------------------------------------- */
html, body {
  margin: 0;
  height: 100%; }

body {
  background: url(ressources/Fond.jpeg) fixed no-repeat;
  background-size: cover;
  margin: 0px; }

/* ----------------------------------- Bandeau ---------------------------------------------- */
#bandeau {
  background-color: white;
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px; }

#bandeau #logo {
  position: absolute;
  margin-top: -15px;
  margin-left: 70px; }

#navigation ul {
  list-style: none;
  margin-left: 200px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around; }

#navigation li {
  cursor: pointer;
  font-family: 'kingthings_calligraphica_2Rg';
  font-size: 40px;
  color: black;
  transform: scale(1);
  transition: transform 200ms; }
  #navigation li:hover {
    color: #777445;
    transform: scale(1.1); }

@media screen and (max-width: 1000px) {
  #bandeau {
    background-color: white;
    width: 200px;
    height: 100%; }

  #bandeau #logo {
    margin-top: -10px;
    margin-left: 40px; }

  #navigation ul, #navigation li {
    position: relative;
    list-style: none;
    padding-top: 50px;
    margin-left: -5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px; } }
/* ------------------------------------ Contact ----------------------------*/
#contact {
  display: none; }

form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  margin-top: 50px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em; }

form div + div {
  margin-top: 1em; }

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right; }

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;
  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;
  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999; }

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000; }

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;
  /* Pour donner assez de place pour écrire du texte */
  height: 5em; }

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 90px;
  /* même taille que les étiquettes */ }

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em; }

@media screen and (max-width: 1000px) {
  form {
    margin-top: -400px;
    margin-left: 300px; } }

/*# sourceMappingURL=style.css.map */
