/* ---------------------------------- Design général ---------------------------------------- */
$Sitecolor:rgb(119, 116, 69);
//$Police: 'UglyQua', "Acme-Regular", sans-serif;  ;
$Police: 'UglyQua';

html, body, #bloc_page { 
    margin:0;
    height: 100%;
}
body {
    background: url(ressources/Fond.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
  #bloc_page { 
    display: flex;
    justify-content: space-around;
  }
}

.btnPerso {
  margin: 10px 0 20px 0;
  display: inline-block;
  height: auto;
  width: auto;
  padding:5px;
  border-radius: 1em;
  background-color: rgba(128, 128, 128, 0.363);
  cursor: pointer;
  font-size: 2rem;
  font-family: $Police;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}
/* ----------------------------------- Bandeau ---------------------------------------------- */
#bandeau {
    background-color: white;
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    @media screen and (max-width: 1000px) {
    height: 100%;
    background-color: white;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: -20px;
    font-size: 30px;
    }
}

#logo {
    position: absolute;
    margin-top: -15px;
    margin-left: 70px;
    @media screen and (max-width: 1000px) {
      margin-left: 0em;
      margin-top: -230px;
    }
    @media screen and (max-height: 500px) {
      display: none;
    }
}

#navigation ul {
    list-style: none;
    margin-left: 200px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 1000px) {
      margin-left: 0em;
      margin-top: 70px;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-height: 600px) {
      margin-top: 25px;
    }
}
.btn {
    cursor: pointer;
    font-family: $Police;
    font-size: 40px;
    color: black;
    transform: scale(1);
    transition: transform 200ms;
      &:hover {
      transform: scale(1.1) 
    }
    }
    @media screen and (max-width: 1000px) {
      padding-top: 25px;
    }

.active {
  color: $Sitecolor;
}

/* ------------------------- Accueil ------------------------------------- */
#MenuAccueil {
margin-top: 50px;
display: flex;
justify-content: space-around;
align-items: center;
}

#carrouselAccueil {
  height: 300px;
  width: 400px;
  border: 3px solid #F2F2F2;
  overflow: hidden;
}

#carrouselAccueil ul {
  width: 400%; // ---->(x photos * 100%)
  height: 300px;
  padding:0; margin:0;
  list-style: none;
}

#carrouselAccueil li {
  float: left;
}

#meteo {
  background-color: rgba(255, 255, 255, 0.733);
  height:300px;
  width:300px;
  border-radius: 15px;
  margin-right: 20px;
  //padding-top: 15px;
}

#logoMeteo {
  height: 100px;
  width: 100px;
}

#contenuMeteo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* -------------------------------- Le Village ---------------------------- */
.menuVillage {
  margin: 50px 50px 200px 50px;
  display: flex;
  align-items: center;
}

.menu2Village img {
  border: 4px solid #F2F2F2;
}

#Ancre1, #Ancre2, #Ancre3, #toSezanne {
  margin-top: 20px;
  transform: scale(1);
  transition-duration: 300ms;
  &:hover {
    transform: scale(1.02);
  }
}

#carrouselVillage {
  height: 350px;
  width: 500px;
  border: 3px solid #F2F2F2;
  overflow: hidden;
}

#carrouselVillage ul {
  width: 400%; // ---->(x photos * 100%)
  height: 350px;
  padding:0; margin:0;
  list-style: none;
}

#carrouselVillage li {
  float: left;
}

#carrouselCP {
  margin: auto;
  width: 700px;
  height: 450px;
  overflow: hidden;
  border: 3px solid #F2F2F2;
}

#carrouselCP ul {
  width: 700%; // ---->(x photos * 100%)
  height: 450px; //50?
  padding:0; margin:0;
  list-style: none;
}

#carrouselCP li {
  float: left;
}

/* ----------------------------------- Demarches ---------------------------- */
#DEMARCHES {
  background-color: rgb(255, 255, 255);
  //border: solid 1 px $Sitecolor;
  //border-radius: 15px;
  padding: 10px;
  //margin-top: 15px;
}

.choixDemarche, .choixActe {
  margin : 10px;
  display: inline-block;
  //border-radius: 15px;
  cursor: pointer;
  margin-bottom: -10px;
}

#choixDemarche, #menuEtatCivil, .menuDemarches {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  + h2 {
    display: inline-block;
  }
}

#menuEtatCivil.closed, .menuDemarches.closed, #menuAutreDemarche.closed {
  display: none;
}

#EtatCivil {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url(ressources/LogoActe1.png) 0 0 no-repeat;
  &:hover {
    background-position: -50px 0px;
    }
  &:hover + h3 {
        color : $Sitecolor;
      }
}

#EtatCivil.active {
  background-position: -50px 0px;
  + h3 {
    color : $Sitecolor;
  }
}

#autreDemarche {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url(ressources/logoActeOther.png) 0 0 no-repeat;
  &:hover {
    background-position: -50px 0px;
    }
  &:hover + h3 {
        color : $Sitecolor;
      }
}

#autreDemarche.active {
  background-position: -50px 0px;
  + h3 {
    color : $Sitecolor;
  }
}

#Naissance {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: url(ressources/logoNaissance1.png) 0 0 no-repeat;
  &:hover {
    background-position: -100px 0px;
    }
  &:hover + h3 {
        color : $Sitecolor;
      }
}

#Naissance.active {
  background-position: -100px 0px;
  + h3 {
  color : $Sitecolor;
  }
}

#Deces {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: url(ressources/logoDeces2.png) 0 0 no-repeat;
  &:hover {
    background-position: -100px 0px;
    }
  &:hover + h3 {
        color : $Sitecolor;
      }
}

#Deces.active {
  background-position: -100px 0px;
  + h3 {
  color : $Sitecolor;
  }
}

#Mariage {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: url(ressources/logoMariage2.png) 0 0 no-repeat;
  &:hover {
    background-position: -100px 0px;
    }
  &:hover + h3 {
        color : $Sitecolor;
      }
}

#Mariage.active {
  background-position: -100px 0px;
  + h3 {
  color : $Sitecolor;
  }
}
/* ------------------------------------ Contact ----------------------------*/

#formulaireContact {
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px;
    margin: auto;
    font-family: $Police;
    font-size: 30px;
    //text-align: center;
    border-radius: 1em;
  }

input, textarea {
  font-family: $Police;
  font-size: 25px;
}

#CoordonneesContact {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

.nomContact input {
    width: 200px;
    height: 30px;
    border-radius: 1em;
    border: 0px;
    margin: 20px 0 20px 0;
  }

#messageContact textarea {
    width: 450px;
    height: 150px;
    border-radius: 1em;
    border: 0px;
    margin-top: 20px;
  }

  #ErrorMailContact.closed, #SuccessMailContact.closed {
    display: none;
  }
    
  /* --------------------------------- footer ------------------------- */
  #footer h3, #footer p {
    text-align: center;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }