@charset "UTF-8";
/* ---------------------------------- Design général ---------------------------------------- */
h1 {
  font-family: "Acme-Regular";
  font-size: 36px; }

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px; }

#village1 p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px; }

html, body, #bloc_page {
  margin: 0;
  height: 100%; }

body {
  background: url(Ressources/Fond.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  text-align: center;
  display: flex;
  flex-direction: column; }

.btnPerso {
  margin: 10px 0 20px 0;
  display: inline-block;
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 1em;
  background-color: #777445;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Acme-Regular"; }

.btnPerso2 {
  margin: 10px 0 20px 0;
  display: inline-block;
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 1em;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Acme-Regular"; }

.btnPerso3, .btnChoixDemarche, .btnChoixMairie {
  height: 1.5rem;
  padding: 10px;
  width: auto;
  border-radius: 2em;
  background-color: #1e7a21;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  margin: 0 20px 0 20px;
  transform: scale(1);
  transition: transform 200ms; }
  .btnPerso3:hover, .btnChoixDemarche:hover, .btnChoixMairie:hover {
    transform: scale(1.02); }

.btnPerso3 p, .btnChoixDemarche p, .btnChoixMairie p {
  font-family: "Acme-Regular";
  margin-top: 2px; }

.btnPerso4 {
  margin: 10px 0 20px 0;
  display: inline-block;
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 0.5em;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Acme-Regular";
  transition: transform 200ms; }
  .btnPerso4:hover {
    transform: border 2px; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black; }

/* ----------------------------------- Bandeau ---------------------------------------------- */
#bandeau {
  z-index: 3;
  background-color: white;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 25px; }

#logo {
  position: absolute;
  margin-left: 70px;
  z-index: 4; }

#navigation ul {
  list-style: none;
  margin-left: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  z-index: 3; }

.btn, .btnDemarche, .btnMairie {
  cursor: pointer;
  font-family: "Acme-Regular";
  font-size: 30px;
  color: black;
  transform: scale(1);
  transition: transform 200ms; }
  .btn:hover, .btnDemarche:hover, .btnMairie:hover {
    transform: scale(1.1); }

#Contact {
  margin-left: 200px; }

.btnactive {
  color: #1e7a21;
  border-bottom: 3px solid #1e7a21;
  z-index: 3; }

.active {
  color: #1e7a21;
  z-index: 3; }

/* ------------------------- Accueil ------------------------------------- */
#MenuAccueil {
  margin-top: 130px;
  display: flex;
  justify-content: space-around; }

#AccueilPart2 {
  display: flex;
  flex-direction: column; }

#carrouselAccueil {
  height: 300px;
  width: 400px;
  border: 3px solid #F2F2F2;
  overflow: hidden; }

#carrouselAccueil ul {
  width: 400%;
  height: 300px;
  padding: 0;
  margin: 0;
  list-style: none; }

#carrouselAccueil li {
  float: left; }

#meteo {
  background-color: rgba(255, 255, 255, 0.733);
  height: 200px;
  width: 300px; }

#logoMeteo {
  height: 100px;
  width: 100px; }

#contenuMeteo {
  display: flex;
  justify-content: space-around;
  align-items: center; }

#calendrier {
  background-color: rgba(255, 255, 255, 0.733);
  height: 200px;
  width: 300px; }

/* -------------------------------- Le Village ---------------------------- */
#VILLAGE {
  margin-top: 150px; }

#village1 {
  width: 800px;
  margin: auto;
  margin-bottom: 300px; }

#village2 {
  margin: 0 100px 0 100px; }

#village3 {
  margin-bottom: -30px; }

#village4 {
  margin-bottom: 0px; }

.legende {
  font-weight: bold;
  width: 450px;
  margin: auto; }

.menuVillage {
  margin: 50px 50px 200px 50px;
  display: flex;
  align-items: center; }

.menu2Village img {
  border: 4px solid #F2F2F2; }

#Ancre1, #Ancre2, #Ancre3, #toSezanne {
  margin-top: 20px;
  transform: scale(1);
  transition-duration: 300ms; }
  #Ancre1:hover, #Ancre2:hover, #Ancre3:hover, #toSezanne:hover {
    transform: scale(1.02); }

#carrouselVillage {
  height: 350px;
  width: 500px;
  border: 3px solid #F2F2F2;
  overflow: hidden; }

#carrouselVillage ul {
  width: 400%;
  height: 350px;
  padding: 0;
  margin: 0;
  list-style: none; }

#carrouselVillage li {
  float: left; }

#carrouselCP {
  margin: auto;
  width: 700px;
  height: 450px;
  overflow: hidden;
  border: 3px solid #F2F2F2; }

#carrouselCP ul {
  width: 700%;
  height: 450px;
  padding: 0;
  margin: 0;
  list-style: none; }

#carrouselCP li {
  float: left; }

/* --------------------------------- MAIRIE ------------------------------ */
#MAIRIE {
  z-index: 0;
  opacity: 1;
  position: relative;
  top: -300px;
  background-color: white;
  margin-top: 0px;
  margin-bottom: -150px;
  padding: 10px; }

/* ----------------------------------- Demarches ---------------------------- */
#DEMARCHES {
  z-index: 1;
  opacity: 1;
  position: relative;
  top: -300px;
  background-color: white;
  margin-top: 0px;
  margin-bottom: -150px;
  padding: 10px; }

#etatcivil, #servicePublic {
  display: flex; }

.choixDemarche, .choixActe {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: -10px; }

#choixDemarche, #choixMairie {
  display: flex;
  justify-content: center; }

#menuServicePublic {
  display: flex;
  background-color: white;
  margin-top: 100px;
  justify-content: space-around; }
  #menuServicePublic + h2 {
    display: inline-block; }

#menuEtatCivil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 100px; }

.closed {
  display: none; }

#btnFormulaire {
  display: inline-block;
  width: 75px;
  height: 20px;
  margin: 20px 0 20px 0; }

/* ------------------------------------ Contact ----------------------------*/
#CONTACT {
  margin-top: 75px; }

#formulaireContact {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 500px;
  margin: auto;
  font-family: "Acme-Regular";
  font-size: 30px; }

#CONTACT input, #CONTACT textarea {
  font-family: "Acme-Regular";
  font-size: 25px; }

#CoordonneesContact {
  display: flex;
  justify-content: space-between;
  text-align: center; }

.nomContact input {
  width: 180px;
  height: 30px;
  border: 0px;
  margin: 20px 0 20px 0; }

#messageContact textarea {
  width: 495px;
  height: 150px;
  border: 0px;
  margin-top: 20px; }

#ErrorMailContact.closed, #SuccessMailContact.closed {
  display: none; }

/* --------------------------------- footer ------------------------- */
#footer h3, #footer p {
  text-align: center; }
  @media screen and (max-width: 1000px) {
    #footer h3, #footer p {
      display: none; } }

/*# sourceMappingURL=style.css.map */
